*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 45, 45);
}
.book{ 
    --width: 150px;
    --height: 200px;
    --depth: 50px;
    height: var(--height);
    width: var(--width);
    position: relative;
    transform: rotateY(-80deg);
    transform-style: preserve-3d;
    transition: 1s all ;
    z-index: 0;
}
.second{
    transform: translateX(-200px) rotateY(-80deg);
    z-index: 0;
}
.side{
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
    position: absolute;
}
.second .side{
    background-color: blue;
    z-index: inherit;
}
.side:nth-of-type(1),
.side:nth-of-type(2){
    --cofficient: -0.5;
    height: var(--height);
    width: var(--width);
    transform: translate3d(0,0, calc(var(--depth)* var(--cofficient)));
}
.side:nth-of-type(2){
    --cofficient:0.5;
}
.side:nth-of-type(3),
.side:nth-of-type(4){
    --rotation:90deg;
    height: var(--height);
    width: var(--depth);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(var(--rotation)) translate3d(0, 0, calc(var(--width)*0.5));
}
.side:nth-of-type(4){
    --rotation:-90deg;
}
.side:nth-of-type(5),
.side:nth-of-type(6){
    --rotation: -90deg;
    height: var(--depth);
    width: var(--width);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotatex(var(--rotation)) translate3d(0, 0, calc(var(--height)*-0.5));
}
.side:nth-of-type(6){
    --rotation:90deg;
}
.book:hover{
    transform: rotateY(0deg) scale(200%);
    z-index: 2;
}